# Backend 
Backend/venv/
Backend/__pycache__/
Backend/**/*.pyc
Backend/.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Frontend 
Frontend/task_manager_application/node_modules/
Frontend/task_manager_application/dist/
Frontend/task_manager_application/.vite/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Files
.env
.env.*

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.log
*.sqlite3